.ViewOrderSeller .order-page{
   background-color: white;
   border: 1px solid lightgray;
   padding: 20px;
}
.ViewOrderSeller .view-service{
   font-size: 12px;
}
.ViewOrderSeller .mt-top{
   margin-top: 20px;
}
.ViewOrderSeller .resolution-center{
   border-radius: 5px;
   border:  1px solid lightgray;
   padding: 30px 20px 40px 20px;
   text-align: center;
   background-color: white;
}
.ViewOrderSeller .delivery-box{
   text-align: center;
   
}