.SenderCustomOfferTemplate .convo-message{

    float: right!important;
    overflow: hidden;
    text-align: left;
    clear: both;
}

/* .SenderCustomOfferTemplate .convo-message span{
background-color: rgb(23, 153, 92);
color: rgb(232, 230, 227);
float: right;
padding: 10px;
border-radius: 15px 15px 0px 15px;
margin: 5px

} */


.SenderCustomOfferTemplate .convo-area-sender{
 float: right!important;
 width: 60%;
}

.SenderCustomOfferTemplate .custom-offer-box{

    border: 1px solid lightgray;
    background-color: #fcf5ff;
    padding: 10px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    
 
}


.SenderCustomOfferTemplate .convo-img{

    top:0;
}

.SenderCustomOfferTemplate .custom-offer-box:nth-child(1) h3{
    display: inline-block;
    width: 78%;
    font-weight: bold;
    font-size: 20px;

}
.SenderCustomOfferTemplate .custom-offer-box:nth-child(1) .price{
    display: inline-block;
    width: 10%;
    font-weight: bolder;
    font-size: 20px;
    position: absolute;
    top: 0;margin-right: 20px;
    right: 0;
    margin-top: 30px;


}
